@media screen and (max-width: 560px){
    .alto{
        height:300px;
    }
    .bb{
        display: none;
    }
    .lmenu1{
        margin-left: 0px;
    }
    .COLOR{
        margin-bottom: 70px;
    }
    .mrb{
        margin-bottom: 90px;
    }
}
